{
  "openapi": "3.1.0",
  "info": {
    "title": "TopStats Analytics API",
    "version": "1.0.0",
    "description": "The public TopStats Analytics API. Authenticate the key-protected endpoints (event ingestion, OTLP export, and feature-flag evaluation) with your workspace API key as a Bearer token; the key alone decides the workspace and environment, so there is no workspace id in the request. Call these from your backend, never a browser. The public read endpoints (shared dashboards, badges, landing stats) need no authentication."
  },
  "servers": [
    {
      "url": "https://topstats.gg"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Events",
      "description": "Native event ingestion."
    },
    {
      "name": "OpenTelemetry",
      "description": "OTLP/HTTP ingestion."
    },
    {
      "name": "Feature Flags",
      "description": "Server-to-server flag evaluation."
    },
    {
      "name": "Public",
      "description": "Unauthenticated public read endpoints."
    },
    {
      "name": "Badges",
      "description": "Public badge images."
    }
  ],
  "paths": {
    "/v1/events": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Ingest one event or a batch",
        "operationId": "ingestEvents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Event"
                  },
                  {
                    "$ref": "#/components/schemas/EventBatch"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. Returns the number of events stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Payload failed validation (missing name, unknown field, bad timestamp)."
          },
          "401": {
            "description": "Missing, malformed, unknown, or revoked API key."
          },
          "402": {
            "description": "Free plan monthly event cap reached. Upgrade to keep ingesting."
          },
          "413": {
            "description": "Batch over 500 events, an event over 64 KiB, or a body over 2 MiB."
          },
          "429": {
            "description": "Rate limit exceeded (6000 requests per minute, per client IP)."
          }
        }
      }
    },
    "/v1/traces": {
      "post": {
        "tags": [
          "OpenTelemetry"
        ],
        "summary": "OTLP/HTTP traces export",
        "operationId": "exportTraces",
        "description": "Standard OTLP/HTTP. Point any OpenTelemetry SDK or Collector here. The body is the matching Export\u003CSignal\u003EServiceRequest, as protobuf (the default) or OTLP/JSON. Each record is translated into one TopStats event.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-protobuf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export\u003CSignal\u003EServiceResponse. Empty on full success; a partial_success counter when some records were dropped (over a size, batch, or plan limit)."
          },
          "400": {
            "description": "Undecodable or invalid body."
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "413": {
            "description": "Body over the 64 MiB limit."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/v1/logs": {
      "post": {
        "tags": [
          "OpenTelemetry"
        ],
        "summary": "OTLP/HTTP logs export",
        "operationId": "exportLogs",
        "description": "Standard OTLP/HTTP. Point any OpenTelemetry SDK or Collector here. The body is the matching Export\u003CSignal\u003EServiceRequest, as protobuf (the default) or OTLP/JSON. Each record is translated into one TopStats event.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-protobuf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export\u003CSignal\u003EServiceResponse. Empty on full success; a partial_success counter when some records were dropped (over a size, batch, or plan limit)."
          },
          "400": {
            "description": "Undecodable or invalid body."
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "413": {
            "description": "Body over the 64 MiB limit."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/v1/metrics": {
      "post": {
        "tags": [
          "OpenTelemetry"
        ],
        "summary": "OTLP/HTTP metrics export",
        "operationId": "exportMetrics",
        "description": "Standard OTLP/HTTP. Point any OpenTelemetry SDK or Collector here. The body is the matching Export\u003CSignal\u003EServiceRequest, as protobuf (the default) or OTLP/JSON. Each record is translated into one TopStats event.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-protobuf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export\u003CSignal\u003EServiceResponse. Empty on full success; a partial_success counter when some records were dropped (over a size, batch, or plan limit)."
          },
          "400": {
            "description": "Undecodable or invalid body."
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "413": {
            "description": "Body over the 64 MiB limit."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        }
      }
    },
    "/v1/flags/evaluate": {
      "post": {
        "tags": [
          "Feature Flags"
        ],
        "summary": "Evaluate feature flags",
        "operationId": "evaluateFlags",
        "description": "Server-to-server flag evaluation. Authenticated by the workspace API key; the environment is taken from the key, never the body. Rate limited per client IP like ingestion.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlagEvaluate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The evaluated flags.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlagEvaluateResult"
                }
              }
            }
          },
          "400": {
            "description": "Payload failed validation."
          },
          "401": {
            "description": "Missing, malformed, unknown, or revoked API key."
          },
          "429": {
            "description": "Rate limit exceeded (6000 requests per minute, per client IP)."
          }
        }
      }
    },
    "/v1/public/dashboards/{slug}": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Get a shared dashboard",
        "operationId": "getPublicDashboard",
        "security": [],
        "description": "Fetch a dashboard that has been shared publicly, by its slug. No authentication.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dashboard and its widgets."
          },
          "404": {
            "description": "No public dashboard with this slug."
          }
        }
      }
    },
    "/v1/public/dashboards/{slug}/widgets/{widgetId}/data": {
      "post": {
        "tags": [
          "Public"
        ],
        "summary": "Get data for a shared dashboard widget",
        "operationId": "getPublicWidgetData",
        "security": [],
        "description": "Fetch the computed data for one widget on a public dashboard. No authentication.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The widget result."
          },
          "404": {
            "description": "Unknown dashboard or widget."
          }
        }
      }
    },
    "/v1/public/stats": {
      "get": {
        "tags": [
          "Public"
        ],
        "summary": "Global aggregate stats",
        "operationId": "getPublicStats",
        "security": [],
        "description": "Public landing-page totals. No authentication.",
        "responses": {
          "200": {
            "description": "Aggregate counters, e.g. { totalEvents }."
          }
        }
      }
    },
    "/v1/badge/{token}.svg": {
      "get": {
        "tags": [
          "Badges"
        ],
        "summary": "Render a badge image",
        "operationId": "getBadge",
        "security": [],
        "description": "Render a public SVG badge for a workspace metric, for embedding in a README. No authentication.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The badge image.",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API key. Production keys start with ts_live_, development keys with ts_test_."
      }
    },
    "schemas": {
      "Event": {
        "type": "object",
        "required": [
          "name"
        ],
        "additionalProperties": false,
        "description": "A single event. Only these fields are allowed.",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "The event type, grouped by in charts (e.g. player_join)."
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "propertyNames": {
              "minLength": 1,
              "maxLength": 128
            },
            "description": "Custom key/value details. Property keys are 1 to 128 characters. A finite number is stored as a numeric property (summable); a non-empty array breaks down per element; anything else is a string property."
          },
          "_source": {
            "type": "string",
            "maxLength": 128,
            "description": "Free-text origin label (region, shard). Shown as Source."
          },
          "_actor": {
            "type": "string",
            "maxLength": 256,
            "description": "Who the event belongs to. Powers Actors and retention."
          },
          "_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 time. Defaults to the server receive time."
          }
        },
        "example": {
          "name": "player_join",
          "properties": {
            "map": "desert",
            "playtime": 42,
            "perks": [
              "double_jump"
            ]
          },
          "_source": "eu-west-1",
          "_actor": "user_123"
        }
      },
      "EventBatch": {
        "type": "object",
        "required": [
          "events"
        ],
        "additionalProperties": false,
        "description": "A batch of 1 to 500 events.",
        "properties": {
          "events": {
            "type": "array",
            "minItems": 1,
            "maxItems": 500,
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          }
        }
      },
      "FlagEvaluate": {
        "type": "object",
        "additionalProperties": false,
        "description": "Optional targeting context. Omit every field to evaluate all flags for an anonymous caller.",
        "properties": {
          "actorKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "The actor to evaluate rollouts for (e.g. user_123)."
          },
          "groupKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "The group or tenant to evaluate for."
          },
          "keys": {
            "type": "array",
            "maxItems": 200,
            "items": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9._-]+$",
              "maxLength": 120
            },
            "description": "Flag keys to evaluate. Omit to evaluate every flag."
          },
          "logExposure": {
            "type": "boolean",
            "description": "When true, records an exposure for each evaluated flag."
          }
        },
        "example": {
          "actorKey": "user_123",
          "keys": [
            "new_dashboard"
          ]
        }
      },
      "FlagEvaluateResult": {
        "type": "object",
        "required": [
          "flags"
        ],
        "description": "Each evaluated flag key mapped to its result.",
        "properties": {
          "flags": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "boolean",
                  "description": "Whether the flag is on."
                },
                "variant": {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                },
                "reason": {
                  "type": "string",
                  "enum": [
                    "rollout",
                    "boolean",
                    "disabled",
                    "no_actor",
                    "not_found"
                  ],
                  "description": "Why the flag resolved the way it did."
                }
              }
            }
          }
        }
      },
      "IngestResponse": {
        "type": "object",
        "properties": {
          "accepted": {
            "type": "integer",
            "description": "The number of events stored."
          }
        }
      }
    }
  }
}