@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

@theme {
    --color-fd-background: hsl(0, 0%, 96%);
    --color-fd-primary: #5e84f3;
}

:root {
    --fd-layout-width: 100vw;
    --colors-brand: #8a9de4;
    --api-color: var(--color-purple-400);
    --bots-color: var(--color-fd-primary);
    --servers-color: var(--color-red-400);
    --app-color: #B9BABE;
}

.dark {
    --color-fd-background: #04050e;
    --color-fd-card: #04050e;
    --color-fd-primary: #8a9de4;
}

.background-gradient {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: linear-gradient(360deg, rgba(138, 157, 228, 0) 34.33%, rgba(138, 157, 228, 0.1) 100%);
}

