/* purple gradient */
.purple-gradient {
  position: absolute;
  z-index: -1;
  width: 50rem;
  max-width: none;
  aspect-ratio: 1/1;
  height: 800px;
  opacity: 0.7;
  pointer-events: none;
  left: 0;
  bottom: 14rem;
}
@media (min-width: 1280px) {
  .purple-gradient {
    right: -5rem;
    top: -14rem;
    left: auto;
    bottom: auto;
  }
}

.purple-gradient::before,
.purple-gradient::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(117px);
  width: 207px;
  height: 207px;
  opacity: 1;
}

.purple-gradient::before {
  left: 310.8px;
  top: 522.8px;
  background: hsla(272, 99%, 54%, 1);
  transform: translate(-50%, -50%);
}

.purple-gradient::after {
  left: 476.3px;
  top: 309.6px;
  background: hsla(291, 49%, 76%, 1);
  transform: translate(-50%, -50%);
}


/* green gradient */
.green-gradient {
  position: absolute;
  z-index: -1;
  left: -30%;
  bottom: -400px;
  width: 100%;
  min-width: 800px;
  height: 800px;
  pointer-events: none;
  opacity: 0.45;
  background: none;
  background:
    radial-gradient(
      ellipse 28% 24% at 39% 59%,
      hsla(167, 74%, 59%, 0.70) 60%,
      transparent 100%
    ),
    radial-gradient(
      ellipse 30% 25% at 62% 44%,
      hsla(90, 61%, 69%, 0.50) 60%,
      transparent 100%
    );
  filter: blur(90px);
}
.green-gradient::before,
.green-gradient::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  filter: blur(76px);
  opacity: 1;
}
.green-gradient::before {
  width: 229px;
  height: 236px;
  left: 62%;
  top: 44%;
  background: hsla(90, 69%, 72%, 1);
  transform: translate(-50%, -50%);
}
.green-gradient::after {
  width: 229px;
  height: 236px;
  left: 39%;
  top: 59%;
  background: hsla(167, 72%, 60%, 1);
  transform: translate(-50%, -50%);
}
@media (min-width: 1024px) {
  .green-gradient {
    left: 40%;
    bottom: -400px;
    top: auto;
    width: 1000px;
    min-width: 1000px;
    height: 800px;
    opacity: 0.45;
  }
  .green-gradient::before {
    left: 62%;
    top: 44%;
    width: 286px;
    height: 295px;
  }
  .green-gradient::after {
    left: 39%;
    top: 59%;
    width: 286px;
    height: 295px;
  }
}

@keyframes updown-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-16px); }
}

@keyframes updown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-32px); }
}

@media (min-width: 1024px) {
  .search-results {
    animation: updown-slow 4s infinite;
    animation-timing-function: ease-in-out;
  }

  .stats-card {
    animation: updown 5s infinite;
    animation-timing-function: ease-in-out;
  }
}


@keyframes servers-loop {
  from {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes background-loop {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}

@keyframes updown {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes updown-slow {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.7rem);
  }
  to {
    transform: translateY(0);
  }
}
